:root {
    box-sizing: border-box;
}

 
.m8{
    margin-bottom: 8px;
}

.loggin-container{
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events:none;
}
.loggin-container.showing{
    opacity:1;
    pointer-events:all;
}

.header-login{
    margin-bottom:20px;
}
.modal-login-box{
    width:500px;
    height: 500px;
    border: solid;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    position:fixed;
    margin-top: 500px;
    z-index:3;
}
.signup-container{
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events:none;
}
.modal-signup-box{
    position:fixed;
    margin-top:500px;
    width:500px;
    height: 500px;
    border: solid;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    z-index: 3;
}
.signup-container.show{
    opacity:1;
    pointer-events:all;
}

.product-container {
    display: flex;
}

#menu {
    width: 20%;
    background-color: red;
    height: 20rem;
    margin: 0.5rem;
    padding: 1rem;
}

#product-list {
    width: 80%;
    background-color: green;
    height: 30rem;
    margin: 0.5rem;
    padding: 1rem;
}

.tag {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid black;
    margin-bottom: 3px;
    cursor: pointer;
}